Options -Indexes

RewriteEngine On

# Redirect root URL to public/ directory
RewriteRule ^$ public/ [L]

# Block access to the 'pages/' directory if the file doesn't exist.
RewriteRule ^pages/?$ /public/index.php [L]

# Block access to scripts/ directory
RewriteRule scripts - [F]